@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --container-width: 1220px;
  --container-padding: 10px;
  --color: #303030;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url(./../images/шум\ на\ фоне.svg);
  background-color: #d9d9d9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color);
  padding: 0 var(--container-padding);
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.header {
  padding-top: 40px;
}

.header-top {
  display: flex;
  align-items: center;
}
.header-navbar {
  display: flex;
  column-gap: 30px;
  margin-left: 378px;
}
.hamburger > span {
  display: none;
  height: 2px;
  width: 20px;
  margin-bottom: 3px;
  background-color: #303030;
}
.header-navbar a {
  color: var(--color);
  text-transform: uppercase;
}
.header-navbar,
.a a {
  color: #fff;
  text-transform: uppercase;
}
.phone-number {
  font-weight: 600;
  margin-left: 81px;
}
.header-content {
  margin-top: 130px;
  display: flex;
  align-items: center;
}
.header-media {
  display: flex;

  align-items: center;
  margin-left: -20px;
}
.header-bg {
  z-index: -1;
}
.header-img {
  position: absolute;
  margin-left: -100px;
}
.header-title {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 80px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.italic-title {
  font-style: italic;
  font-weight: 400;
}
.bold-title {
  font-weight: 600;
}

.description-items {
  display: flex;
  column-gap: 10px;
  font-weight: 300;
  font-size: 18px;
  justify-content: end;
  column-gap: 16px;
}
.header-btn {
  position: absolute;
  text-align: right;
  padding: 26px 34px;
  background-color: var(--color);
  color: #fff;
  font-weight: 550;
  font-size: 14px;
  text-transform: uppercase;
}
.header-button {
  margin-top: 70px;
  margin-left: 300px;
  display: flex;
  column-gap: 40px;
}
.header-btn:hover {
  cursor: pointer;
  color: #d9d9d9;
  transition: 1s;
}
.header-btn-outline {
  top: -10px;
  left: -15px;
  width: 237px;
  height: 66px;
  position: relative;
  opacity: 0.5;
  border: 1px solid #303030;
  display: flex;
}
.header-lower {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.header-lower-description {
  display: flex;
}

.header-lower-rotate {
  font-weight: 550;
  font-size: 80px;
  text-transform: uppercase;
  color: #303030;
  rotate: -90deg;
  width: 309px;
}
.header-lower-title {
  margin-left: -150px;
  font-size: 50px;
  text-transform: uppercase;
}
.header-lower-title-bold {
  font-weight: 550;
}
.header-lower-title-italic {
  font-style: italic;
  font-weight: 300;
}
.header-lower-subtitle {
  margin-top: 31px;
  font-weight: 300;
  font-size: 18px;
  width: 380px;
  text-transform: lowercase;
}
.fa-horizontal-rule {
  color: red;
}
.header-theses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}
.header-lower-theses {
  font-size: 18px;
  text-transform: uppercase;
}
.header-lower-wrapper {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-top: 200px;
}
.bgg {
  position: absolute;
  z-index: -1;
  margin-top: 50px;
  margin-left: -350px;
}

/* main section */

/* our works */
.portfolio {
  margin-top: 210px;
}
.portfolio-title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 80px;
}

.portfolio-title > span {
  font-style: normal;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 550;
  margin: 0 10px;
}
/*
=============== 
Slider
===============
*/

.slider-container {
  width: 80vw;
  height: 100%;
  max-width: 80rem;
  margin-left: 00px;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 0.75rem auto;
}
.prevBtn,
.nextBtn {
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--color);
}

@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 65vh;
  }
}
@media screen and (min-width: 968px) {
  .slider-container {
    height: 1250px;
  }
}
@media screen and (min-width: 1200px) {
  .slider-container {
    height: 1600px;
  }
}
/* end of slider */
.portfolio-btn-outline {
  border: 1px solid #303030;
  padding: 23px 50px;
  color: inherit;
  text-transform: uppercase;
}

/* slider 2 */

#toggleContainer {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}

#galleryContainer {
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 450px;
  border-radius: 5px;

  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: var(--color);
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}
/* end of slider 2 */
#toggleContainer1 {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}

#galleryContainer1 {
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#galleryView1 {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#outer1.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView1 {
  height: 450px;
  width: 450px;
  border-radius: 5px;

  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView1:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView1 {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView1:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView1 {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView1:hover {
  opacity: 1;
  transition: all 1s;
}

#navLeft1 {
  left: 50px;
}

#navRight1 {
  right: 50px;
}

#linkTag1 {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}
/* 3d product rendering */
.carouseell {
  margin-top: 250px;
}
.product-rendering-title {
  font-weight: 300;
  font-size: 60px;
  line-height: 110%;
  /* or 66px */
  font-style: italic;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 500px;
  margin-top: 200px;
  margin-bottom: 40px;
}
.product-rendering-title > span {
  font-weight: 500;
  font-style: normal;
}
.product-rendering-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--color);
  width: 495px;
}
.pr-rendering-btn {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-btn {
  margin-left: 0px;
}
.product-remdering-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}
.rendering-ps {
  padding: 22px 104px 22px 47px;
  background: linear-gradient(
    89.68deg,
    #fbfbfb 49.07%,
    rgba(251, 251, 251, 0) 97.72%
  );
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  width: 721px;
  margin-top: 40px;
}

/* price cards */
.price-cards {
  margin-top: 200px;
}
.price-card {
  width: 340px;
  height: 868px;
  background-color: var(--color);
  color: #fff;
}
.card-title {
  font-weight: 550;
  font-size: 20px;
  padding: 36px 40px 36px 28px;
}
.card-items {
  margin-bottom: 40px;
}
li.card-item {
  list-style-type: circle;
  list-style-position: inside;
  padding: 18px 40px 18px 29px;
  border-top: 1px solid #b2b2b2;
}
.card-price-wrapper {
  padding-left: 25px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.price-description {
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
}
.price {
  font-weight: 400;
  font-size: 40px;
}
.price-btn {
  padding: 26px 19px;
  color: var(--color);
  background-color: #fff;
}
.cards-wrapper {
  display: flex;
  column-gap: 70px;
}
.card-item {
  padding: 10px 0px;
  border-bottom: 1px solid #b2b2b2;
}
.card-img {
  width: 340px;
  height: 303px;
  background-color: #fff;
}
.card-title {
  text-transform: uppercase;
}

/* persons card info */
.personal-wrapper {
  display: flex;
  align-items: center;
  column-gap: 37px;
}
.personal {
  margin-top: 60px;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.personal-name {
  font-weight: 550;
  font-size: 30px;
}
.personal-priority {
  font-weight: 300;
  font-size: 16px;
}
.team-title {
  width: auto;
}
.contacts-title {
  font-weight: 550;
  font-size: 30px;
  margin: 80px 0 50px;
  text-transform: uppercase;
}
.contacts-info {
  display: flex;
  column-gap: 80px;
}
.information {
  font-weight: 300;
  font-size: 24px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
/*  */
.prioriry-wrapper {
  display: flex;
}
.right-items {
  margin-top: 300px;
}
.bg {
  position: relative;
  bottom: 320px;
  left: 120px;
  z-index: -1;
}

.contact-us-title {
  margin-top: -150px;
}
.about-input {
  width: 340px;
  height: 66px;
  display: block;
  background: #ffffff;
  border: 1px solid #b2b2b2;
  padding: 16px 16px 16px 40px;
  color: #8c8c8c;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 15px;
}
.proj-descr {
  margin-bottom: 0;
  width: 340px;
  height: 133px;
  text-transform: initial;
}
.form-btn {
  margin-top: 25px;
  padding: 26px 62px;
}
.lower-inputs {
  display: flex;
  column-gap: 190px;
}
.consultation {
  margin-top: 0px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 550;
  font-size: 30px;
  color: #303030;
}
.footer {
  margin-top: 210px;
  background-color: #303030;
  color: #fff;
  padding: 0px;
}
.footer-content {
  padding: 50px 0;
}
.new-line {
  display: block;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
